/*Mobile - Proyectos*/
.proyectos {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: space-around;
    align-items: center;
    border: 1px solid white;
    border-radius: 16px;
    background: radial-gradient(230% 125% at 50% 20%, var(--color-negro) 10%, var(--color-gris-oscuro) 100%);
    box-shadow: 0px 2px 8px var(--color-gris-azul);
}
section.proyectos .container {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.3rem;
}
section.proyectos .container h3{
    align-self: flex-start;
    font-size: 2rem;
}
.tecnologias__list {
    width: 100%;
    max-width: 400px;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
    position: relative;
    margin-top: 1rem;
}
.tecnologias__list::before{
    content: "Tecnologias usadas:";
    position: absolute;
    top: -1.5rem;
    font-size: .8rem;
    font-weight: 200;
}
.tecnologias__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .2rem;
}
.tecnologias__item img{
    width: 50px;
}
.tecnologias__item p{
    font-size: .7rem;
}
.botones {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
.botones .button{
    width: 100%;
}
.pantallaMuestra {
    width: 90%;
    max-width: 500px;
    height: auto;
}
.proyectos .explicacion{
    color: var(--color-gris-claro);
    font-weight: 200;
}
@media (width > 465px) {
    .proyectos {
        padding: 2rem;
    }
    .botones .button{
        width: 100%;
        max-width: 190px;
    }
}
@media (width > 765px) {
    .pantallaMuestra{
        width: 40%;
        max-width: 400px;
    }
    section.proyectos .container {
        max-width: 500px;
    }
    .proyectos {
        flex-direction: row;
        gap: 1rem;
    }
    .fondo__azul {
        flex-direction: row-reverse;
    }
}