/*Mobile*/
/*Main*/
main.hero {
    background: radial-gradient(230% 125% at 50% -40%, var(--color-gris-oscuro) 40%, var(--color-negro) 100%);
    min-height: 95vh;
    width: 100%;
    padding: 5rem 1rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
/*Contenedores de información*/
.hero__container {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: var(--color-gris-claro);
}
header.hero__container{
    gap: .3rem;
}
/*Imagen de perfil*/
.hero__perfil {
    border-radius: 50%;
    max-height: 120px;
    max-width: 120px;
    width: 40%;
    height: auto;
    align-self: flex-start;
    object-fit: cover;
}
/*Contenedor de titulos*/
.hero__container--profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
}
/*Title name*/
.hero__bio {
    color: var(--color-blanco);
    font-size: 1.8rem;
    font-weight: 700;
}
/*Info*/
.hero__bio--info {
    font-size: 1.3rem;
    font-weight: 400;
}
/*Texto del parrafo*/
.hero__parrafo{
    text-wrap: pretty;
    font-size: 1rem;
    font-weight: 200;
}
/*Contenedor de network*/
.hero__container--network{
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 80%;
    max-width: 300px;
}
.hero__container--network .button{
    width: 100%;
    text-align: center;
}

/*Tablet - Inicio*/
@media (width > 470px) {
    .hero__perfil {
        margin-right: 1rem;
    }
    header.hero__container{
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}