:root {
  --color-blanco: #f5f5f5;
  --color-azul: #1e3958;
  --letras-naranja: #e68c38;
  --color-naranja: #ff6d1f;
  --color-naranja-oscuro: #f04806;
  --color-amarillo: #f0b000;
  --color-negro: #070707;
  --color-morado: #6633ee;
  --color-gris-azul: #747877;
  --color-gris-claro:#b6b6b6;
  --color-gris-oscuro:#171717;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.2;
  position: relative;
  min-height: 100dvh;
  max-width: 100vw;
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-blanco);
}

.button {
  display: block;
  padding: .6rem 2rem;
  border: none;
  border-radius: 14px;
  text-align: center;
}

.push{
  transition: transform .3s ease-out;
}

.push:hover{
  transform: scale(90%);
  box-shadow: none;
}

.push:active{
  transform: scale(110%);
}

.buttonPrincipal{
  background-color: var(--color-naranja);
  box-shadow: 0px 5px 10px #5b5b5b5c;
}
.buttonSecundario{
  background-color: var(--color-blanco);
  box-shadow: 0px 5px 10px #5b5b5b5c;
  color: var(--color-negro);
}

/*Texto resaltado*/
.textNaranja{
  color: var(--letras-naranja);
  font-weight: 600;
}


@media (width > 768px) {
  html{
      font-size: 18px;
  }
}